@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #F5F5F5;
    --secondary-color: #3B82F6;
    --text-white: #FFFFFF;
    --text-body: #1F2A44;

    --font-body: "Inter", sans-serif;
    --font-heading: "Montserrat", sans-serif;
    --font-light: 200;
    --font-regular: 400;
    --font-semibold: 500;
    --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    font-family: var(--font-body);
}

h1,
h3,
p,
a {
    color: var(--text-body);
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
}

.header {
    padding: 1rem 0;
}

.main-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: var(--font-heading);
}

/* Navbar */
.navbar {
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-heading);
    z-index: 99;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-body);
}

.nav-menu {
    display: flex;
}

.menu-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    line-height: 1.5rem;
}

.nav-link {
    padding: 0.5rem 1rem;
    color: var(--text-body);
    font-weight: 500;
    transition: color 0.3s ease;
    border: 2px solid transparent;
}

.nav-link:hover {
    color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}

.nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.nav-toggle i {
    display: none;
}

/* Hero Section */
.hero {
    width: 90%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.hero .title {
    font-size: 2.65rem;
    color: var(--text-body);
    font-weight: 800;
}

.hero .subtitle {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

.hero .job {
    font-size: 2rem;
    margin: 0.5rem 0;
    font-weight: 600;
}

.btn-group {
    display: flex;
    margin-top: 1rem;
}

.btn-group button {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.25rem;
    outline: none;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.btn-group button:hover {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

.profile {
    width: 400px;
    text-align: center;
}

.profile img {
    width: 80%;
    height: auto;
}

/* Main Content */

/* About Section*/
main {
    width: 100%;
    overflow: hidden;
}

main section {
    width: 75%;
    overflow: hidden;
    margin: 1rem auto;
}

.section-title {
    font-size: 2rem;
    font-family: var(--font-heading);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.content-text {
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    padding: 1rem;
    margin: 1rem auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.content-text p {
    font-size: 1.125rem;
    font-family: var(--font-body);
    /* letter-spacing: 0.02em;
    line-height: 1.6; */
    margin-bottom: 0.5rem;
}

.content-image {
    padding: 1rem;
    margin: 1rem;
}

.content-image img {
    width: 60%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: auto;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--primary-color);
        flex-direction: column;
        display: none;
    }

    .nav-menu.active {
        display: flex;
    }

    .menu-list {
        flex-direction: column;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }

    .nav-toggle .ri-menu-line {
        display: inline-block;
    }

    .nav-toggle.active .ri-menu-line {
        display: none;
    }

    .nav-toggle.active .ri-close-line {
        display: inline-block;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero .title {
        font-size: 1.5rem;
    }

    .subtitle,
    .job {
        font-size: 1rem;
    }

    .profile img {
        width: 50%;
    }

    .hero-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-group {
        flex-direction: column;
    }

    .btn-group button {
        width: 100%;
        padding: 1rem 3rem;
        margin-bottom: 1rem;
    }

    #about .content {
        flex-direction: column-reverse;
    }

    #about .content-text {
        flex-direction: column;
        padding: 0.75rem;
        margin: 0.5rem;
    }
}